{% extends '_unregistered.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <h1>{% block title %}Aplicació Tancada{% endblock %}</h1>
        <br />
        <div>
        <p>En aquests moments l'aplicació de gestió de voluntariat d'<a class="text-nowrap" target="_blank" href="https://www.eltingladu.cat/">El Tingladu</a> es troba tancada. Per qualsevol dubte, contacta amb nosaltres mitjançant l'adreça d'email <a href="mailto:voluntariat@eltingladu.cat">voluntariat@eltingladu.cat</a></p>
        </div>
    </div>
</div>
   
{% endblock %}
